:root {
  font-family: var(--font-family-sans);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--color-foreground);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
  transition: color 0.2s ease;
}

a:hover {
  color: #aebbf5;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  font-weight: 600;
}

button {
  cursor: pointer;
}
